@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-effect {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.67);
}

body {
  font-family: "Roboto";
}


*{
  ::-webkit-scrollbar-track {
    background-color: #71D379;
    border-radius: 25px;
  }
  
::-webkit-scrollbar {
    
    
    width:0.4rem
    
  }
  
::-webkit-scrollbar-thumb {
    background-color: #1D63DC;
    border-radius: 25px;
    
  }
}